<div class="booyah-box col-xs-10 col-xs-offset-1">
	<div class="col-xs-4">
		<%= image_tag 'user.png' %>
	</div>
	<div class="col-xs-8">
		<h1><%= @user.email %></h1>
		<h3>User since <%= @user.created_at.strftime("%B %Y") %></h3>
		<h4><%= comments_count=@user.comments.count %> <%= 'comment'.pluralize(comments_count) %> left</h4>
		<h4><%= five_star_count=@user.comments.where(:rating => '5_stars').count %> 5-star <%= 'rating'.pluralize(five_star_count) %> given</h4>
		<h4><%= places_count=@user.places.count %> <%= 'place'.pluralize(places_count) %> created</h4>
	</div>
	<div class="clear"></div>
</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1 class="text-center">My Comments</h1>
	<% @user.comments.each do |comment| %>
		<div class="col-xs-12 col-sm-6">
			<blockquote>
				<h2><%= link_to comment.place.name, place_path(comment.place.name) %></h2>
				<% if comment.humanized_rating.present? %>
					<b><%= comment.humanized_rating %></b> - 
				<% end %>
				<%= comment.message %>
				<small><%= comment.user.email %></small>

			</blockquote>
		</div>
	<% end %>
	<div class="clear"></div>
</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1 class="text-center">My Places</h1>
</div>

<% @user.places.each do |place| %>
		
	<div class="booyah-box col-xs-10 col-xs-offset-1">
	  <div class="col-xs-12 col-sm-9">	
			<h1><%= link_to place.name, place_path(place) %></h1>
			<i><%= place.description %></i>
			<p><%= place.address %></p>
			<% if place.user.present? %>
				<small><%= place.user.email %></small>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-3 thumbnail-box">
			<% if place.photos.present? %>
				<%= image_tag place.photos.last.picture , :class => 'image-thumbnail' %>
			<% end %>
		</div>
	<% if place.comments.present? %>
		<div class="col-xs-12">
			<blockquote>
				<% if place.comments.last.humanized_rating.present? %>
					<b><%= place.comments.last.humanized_rating %></b> - 
				<% end %>
				<%= place.comments.last.message %>
				<small><%= place.comments.last.user.email %></small>

			</blockquote>
		</div>
	<% end %>

  </div>
<% end %>