<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= link_to place.name, place_path(place) %></h1>
	<i><%= place.description %></i>
	<p><%= place.address %></p>
	<% if place.user.present? %>
		<small><%= place.user.email %></small>
	<% end %>
  </div>
<% end %>
<%= will_paginate @places, :class => 'pagination-div col-xs-8 col-xs-offset-2' %>